@model IEnumerable<Shopifex.Models.Product>

<h2>Lista produktów</h2>
<a asp-action="Create" class="btn btn-primary">Dodaj nowy produkt</a>

<table class="table">
    <thead>
        <tr>
            <th>Nazwa</th>
            <th>Cena</th>
            <th>Kategoria</th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td>@product.Category.Name</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@product.Id" class="btn btn-warning">Edytuj</a>
                    <a asp-action="Delete" asp-route-id="@product.Id" class="btn btn-danger">Usuń</a>
                </td>
            </tr>
        }
    </tbody>
</table>