@model IEnumerable<Shopifex.Models.Order>
@using Shopifex.Constants

<h2>Lista Zamówień</h2>

<div class="mb-3">
    <a asp-action="Create" class="btn btn-primary">Dodaj nowe zamówienie</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Nr Zamówienia</th>
            <th>Klient</th>
            <th>Email</th>
            <th>Data Utworzenia</th>
            <th>Status</th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.Id</td>
                <td>@order.FullName</td>
                <td>@order.Email</td>
                <td>@order.CreatedAt.ToString("g")</td>
                <td>@OrderStatusDictionary.GetOrderStatus(order.Status)</td>
                <td>
                    <a asp-action="Details" asp-route-id="@order.Id">Szczegóły</a>
                    <a asp-action="Edit" asp-route-id="@order.Id">Edytuj</a>
                    <a asp-action="Delete" asp-route-id="@order.Id">Usuń</a>
                </td>
            </tr>
        }
    </tbody>
</table>