@model IEnumerable<Shopifex.Models.UserViewModel>

<h2>Użytkownicy</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Dodaj nowego użytkownika</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Email</th>
            <th>Rola</th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Email</td>
                <td>@user.Role</td>
                <td>
                    @if (User.Identity.Name == user.Email)
                    {
                        <span class="text-muted">Nie możesz edytować ani usunąć konta na którym jesteś zalogowany</span>
                    }
                    else
                    {
                        <a asp-action="Edit" asp-route-id="@user.Id">Edytuj</a>
                        <a asp-action="Delete" asp-route-id="@user.Id">Usuń</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
@if (TempData["UserErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["UserErrorMessage"]
    </div>
}